header > div > a > img{
    max-width: 100%;
    max-height: 100px;
}

header {
    background-color: rgb(224, 224, 224);
    display: flex;
    width: 100%;
    align-items: center; 
    padding: 10px 0;
}

.main-home {
    position: relative; /* Fondamentale: fa da ancora per il contenuto sopra */
    width: 100%;
    min-height: 100vh; /* Usa tutta l'altezza dello schermo */
    display: flex;     /* Usiamo flex per centrare il form facilmente */
    justify-content: center;
    align-items: center;
    overflow: hidden;  /* Evita che l'immagine crei scroll inutili */
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    background-color: rgb(224, 224, 224);
    position: relative;
    width:100%;
} 

.btn-indietro-menu {
    position: absolute;
    left: 20px;
    color: #e21d1d;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.logo-menu {
    height: 60px; 
    width: auto;  
    max-width: 100%; 
}

footer {
    background-color: #e21d1d; 
    color: #fff;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 0;
    margin-top: 15px;
}

.home-footer {
    margin: 0;
}

.home-img, .home-img-login {
    display: block;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.home-img-login {
    filter: brightness(0.7);
}

.logo, .title, .login, .hamburgerMenu, .subtitle, .add-container, .spacer, .back-container {
    display: flex;
    align-items: center;
}

.logo, .spacer{
    width: 25%;
    padding-left: 20px;
    justify-content: flex-start;
}

.title, .subtitle {
    width: 50%;
    justify-content: center;
}

h1 {
    color: #e21d1d;
    font-family: 'Lucida Sans', sans-serif;
}

.login, .hamburgerMenu, .add-container, .back-container {
    width: 25%;
    padding-right: 25px;
    justify-content: flex-end;
}

.login a, .conferma-login, .button-annulla-prenotazione {
    color: #ffffff;
    text-decoration: none;
    background-color: #ed1d1d;
    border-radius: 5px;
    padding: 5px 15px;
    font-family: 'Lucida Sans', sans-serif;
    border: 1px solid #000;
}

.login-form, .form-prenotazione {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh; /* Significa che il contenitore del tuo form deve essere alto almeno il 70% dell'altezza dello schermo. */
    position: relative; /* Serve per usare z-index */
    z-index: 2;
}

.login-form-form {
    background: rgb(224, 224, 224);
    padding: 0;
    border-radius: 8px;
    text-align: center;
    margin-top: 15px;
}

.form-form-prenotazione {
    background: rgb(224, 224, 224);
    padding: 0;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    margin-top: 15px;
    width: 90%;
    max-width: 700px;
}

form h2 {
    background-color: #e21d1d;
    color: #ffffff;
    font-family: 'Lucida Sans', sans-serif;
    text-align: center;
    margin-top: 0;
    padding: 15px 0;
    width: 100%;
    border-radius: 8px 8px 0 0;
}

form ul {
    list-style: none;
    padding: 20px;
    margin: 0;
}

form ul li{
    margin-bottom: 20px;
}

.login-form ul li label{
    display: inline-block;
    width: 50%;
    margin-bottom: 15px;
}

form ul li input[type="submit"] {
    margin-top: 30px;
}

.conferma-login:hover {
    cursor: pointer;
    background-color: #be1919;
}

.button-annulla-prenotazione:hover {
    background-color: #ffffff;
    color: #000;
    cursor: pointer;
}

.search-bar {
    display: flex;
    justify-content: center; /* Centra il form orizzontalmente */
    padding: 40px 0;         /* Crea spazio sopra e sotto (addio effetto appiccicato!) */
}

.search-bar form {
    background: none;       /* Rimuove lo sfondo grigio del form generico */
    box-shadow: none;       /* Rimuove l'ombra */
    display: flex;
    flex-direction: column; /* Mette input sopra e bottone sotto */
    align-items: center;    /* Centra tutto */
    gap: 15px;              /* Spazio tra i vari elementi del form */
}

.button-prenota, .button-nuova-prenotazione {
    background-color: #add8e6; 
    color: #000;               
    border: 1px solid #8eb9c7; 
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Lucida Sans', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-prenota:hover, .button-nuova-prenotazione:hover {
    background-color: #87ceeb;
}

table {
    width: 100%; 
    font-family: 'Lucida Sans', sans-serif;
    border-spacing: 0;
    border-collapse: collapse;
}

table td:nth-child(-n+2), table th:nth-child(-n+2){
    border-right: 1px solid #000;
}

table th {
    background-color: #d3d3d3;
    color: black;
    text-align: left;
    padding: 20px 5px;
    border-bottom: 1px solid #999;
}

table tr td:last-child {
    text-align: center;
    padding: 20px 0;
}

.red-bar {
    background-color: #e21d1d;
    display: flex;
    width: 100%;
    align-items: center; 
    padding: 10px 0;
}

.subtitle {
    color: #ffffff;
    font-family: 'Lucida Sans', sans-serif;
}

.add-box, .back-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgb(224, 224, 224);
    color: black;
    text-decoration: none;
    border-radius: 10px;
    transition: transform 0.2s, background-color 0.2s;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.plus-icon, .cross-icon {
    font-size: 35px;
    font-weight: bold;
    line-height: 1;
}

.add-box:hover, .back-box:hover {
    background-color: #ffffff;
}

.form-prenotazione ul li:not(:last-child) {
    display: flex;
    gap: 50px;
    margin-bottom: 15px;
    text-align: left;
    font-weight: bold;
    font-family: 'Lucida Sans', sans-serif;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-prenotazione ul li label {
    margin-bottom: 4px;
}

.input-medio, .input-pieno, .form-prenotazione ul li textarea {
    resize: none;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#finestra-annulla {
    border: 2px solid black;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    text-align: center;
}

#finestra-annulla::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

#finestra-annulla button {
    margin: 20px 40px;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 18px;
}

#conferma-annulla {
    color: #ffffff;
    background-color: #e21d1d;
}

#conferma-annulla:hover {
    background-color: #be1919;
}

#revoca-annulla {
    color: #000;
    background-color: #ffffff;
}

#revoca-annulla:hover {
    background-color: #bebebe;
}


@media screen and (min-width: 768px) {
    .contenuto-aula {
        
        background-image: url('../upload/polivalenteMobile.png'), url('../upload/polivalenteDesktop.png') !important;
        background-position: left top, right top !important;
        background-size: 50% 100%, 50% 100% !important;
        background-repeat: no-repeat, no-repeat;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 600px; 
    }

    .banner-avviso {
        width: 100%;         
        max-width: 600px;    
        margin: 20px auto;   
        padding: 40px 20px 80px 20px; 
    }

    .griglia-statistiche {
        max-width: 800px;    
        margin: 0 auto 40px auto;
    }
}
/*Serve per immagine sfondo della polivalente*/
.contenuto-aula {
    background-image: url('../upload/polivalenteMobile.png'); 
    
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.orario-badge {
    background-color: #c0c0c0; 
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px; 
    margin-bottom: 30px;
}
.griglia-statistiche {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px 40px; 
    width: 100%;
    margin-bottom: 40px;
}

.stat-box {
    text-align: center;
}

.stat-numero {
    color: #cc0000;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 5px;
}

.stat-testo {
    font-size: 12px;
    font-weight: bold;
    color: #333;
}

.banner-avviso {
    width: 100%;
    background-image: url('../upload/polivalenteLaurea.png'); 
    background-size: cover;
    background-position: center;
    padding-top: 15px;    
    padding-bottom: 65px; 
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-radius: 5px; 
}

.banner-avviso p {
    font-weight: bold;
    font-size: 14px;
    color: #333; 
    line-height: 1.5;
}

.menu-navigazione {
    flex-grow: 1; 
}

.menu-navigazione ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    width: 100%;
}
.menu-navigazione li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    text-decoration: none;
    color: #333; 
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.menu-navigazione li a:hover {
    background-color: white; 
    color: #e21d1d; 
}

.sezione-logout {
    text-align: center;
    padding: 20px 0;
}

.btn-logout {
    background-color: #cc0000;
    color: white;
    border: 1px solid #990000;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2); 
    cursor: pointer;
}

.griglia-eventi {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 40px; 
    padding: 15px;
    max-width: 1200px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .griglia-eventi {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 50px;
    }
}

.card-evento {
    display: flex;
    flex-direction: column; 
    background-color: #ffffff; 
    width: 100%; 
    border-radius: 12px;
    overflow: hidden; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}


.img-evento {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover; 
    display: block;
    
}
.info-evento {
    padding: 20px;
}
.info-evento h3 {
    margin: 0 0 10px 0; 
    font-size: 1.3rem;
}
.info-evento .data-evento {
    font-size: 1rem;
    color: #555555; 
}

.stato-aule {
    display: grid;
    grid-template-columns: 1fr 1fr; /*due colonne uguali che usano una frazione uguale di spazio disponibile*/
    text-align: center;
    padding: 40px 0 0 0;
    margin-bottom: 0px;
}

.eventi {
    text-align: center;
    margin-top: 0;
}

.stato h2, .eventi h2{
    color: #e21d1d;
    font-size: 32px;
    margin-bottom: 5px; 
}

.stato p, .eventi p{
    font-size: 16px;
    font-weight: bold;
}
